In [13]:
import pandas as pd
import numpy as np

loans_df = pd.read_csv('/home/niteshch/Downloads/loan.csv')

In [14]:
loans_df['annual_inc_val'] = np.where(loans_df['application_type']== 'INDIVIDUAL', loans_df['annual_inc'], loans_df['annual_inc_joint'])
loans_df['dti_val'] = np.where(loans_df['application_type']== 'INDIVIDUAL', loans_df['dti'], loans_df['dti_joint'])
loans_df.count()

id                             887379
member_id                      887379
loan_amnt                      887379
funded_amnt                    887379
funded_amnt_inv                887379
term                           887379
int_rate                       887379
installment                    887379
grade                          887379
sub_grade                      887379
emp_title                      835922
emp_length                     887379
home_ownership                 887379
annual_inc                     887375
verification_status            887379
issue_d                        887379
loan_status                    887379
pymnt_plan                     887379
url                            887379
desc                           126029
purpose                        887379
title                          887228
zip_code                       887379
addr_state                     887379
dti                            887379
delinq_2yrs                    887350
earliest_cr_line               887350
inq_last_6mths                 887350
mths_since_last_delinq         433067
mths_since_last_record         137053
                                ...
last_pymnt_amnt                887379
next_pymnt_d                   634408
last_credit_pull_d             887326
collections_12_mths_ex_med     887234
mths_since_last_major_derog    221703
policy_code                    887379
application_type               887379
annual_inc_joint                  511
dti_joint                         509
verification_status_joint         511
acc_now_delinq                 887350
tot_coll_amt                   817103
tot_cur_bal                    817103
open_acc_6m                     21372
open_il_6m                      21372
open_il_12m                     21372
open_il_24m                     21372
mths_since_rcnt_il              20810
total_bal_il                    21372
il_util                         18617
open_rv_12m                     21372
open_rv_24m                     21372
max_bal_bc                      21372
all_util                        21372
total_rev_hi_lim               817103
inq_fi                          21372
total_cu_tl                     21372
inq_last_12m                    21372
annual_inc_val                 887375
dti_val                        887377
dtype: int64

In [15]:
loans_df.replace('n/a', np.nan,inplace=True)
#loans_df.drop(['total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util','total_rev_hi_lim','inq_fi','total_cu_tl','inq_last_12m','acc_now_delinq','tot_coll_amt','tot_cur_bal'], axis=1, inplace=True)
loans_df.dropna(axis=1, how='all', thresh=100000, inplace=True)
loans_df.count()

id                             887379
member_id                      887379
loan_amnt                      887379
funded_amnt                    887379
funded_amnt_inv                887379
term                           887379
int_rate                       887379
installment                    887379
grade                          887379
sub_grade                      887379
emp_title                      835917
emp_length                     842554
home_ownership                 887379
annual_inc                     887375
verification_status            887379
issue_d                        887379
loan_status                    887379
pymnt_plan                     887379
url                            887379
desc                           126028
purpose                        887379
title                          887227
zip_code                       887379
addr_state                     887379
dti                            887379
delinq_2yrs                    887350
earliest_cr_line               887350
inq_last_6mths                 887350
mths_since_last_delinq         433067
mths_since_last_record         137053
open_acc                       887350
pub_rec                        887350
revol_bal                      887379
revol_util                     886877
total_acc                      887350
initial_list_status            887379
out_prncp                      887379
out_prncp_inv                  887379
total_pymnt                    887379
total_pymnt_inv                887379
total_rec_prncp                887379
total_rec_int                  887379
total_rec_late_fee             887379
recoveries                     887379
collection_recovery_fee        887379
last_pymnt_d                   869720
last_pymnt_amnt                887379
next_pymnt_d                   634408
last_credit_pull_d             887326
collections_12_mths_ex_med     887234
mths_since_last_major_derog    221703
policy_code                    887379
application_type               887379
acc_now_delinq                 887350
tot_coll_amt                   817103
tot_cur_bal                    817103
total_rev_hi_lim               817103
annual_inc_val                 887375
dti_val                        887377
dtype: int64

In [ ]:
loans_df.drop(['emp_title','url','desc','title','zip_code','dti','annual_inc'], axis=1, inplace=True)

In [27]:
loans_df.fillna(np.nan, axis=1, inplace=True)
loans_df.count()

id                             887379
member_id                      887379
loan_amnt                      887379
funded_amnt                    887379
funded_amnt_inv                887379
term                           887379
int_rate                       887379
installment                    887379
grade                          887379
sub_grade                      887379
emp_length                     842554
home_ownership                 887379
verification_status            887379
issue_d                        887379
loan_status                    887379
pymnt_plan                     887379
purpose                        887379
addr_state                     887379
delinq_2yrs                    887350
earliest_cr_line               887350
inq_last_6mths                 887350
mths_since_last_delinq         433067
mths_since_last_record         137053
open_acc                       887350
pub_rec                        887350
revol_bal                      887379
revol_util                     886877
total_acc                      887350
initial_list_status            887379
out_prncp                      887379
out_prncp_inv                  887379
total_pymnt                    887379
total_pymnt_inv                887379
total_rec_prncp                887379
total_rec_int                  887379
total_rec_late_fee             887379
recoveries                     887379
collection_recovery_fee        887379
last_pymnt_d                   869720
last_pymnt_amnt                887379
next_pymnt_d                   634408
last_credit_pull_d             887326
collections_12_mths_ex_med     887234
mths_since_last_major_derog    221703
policy_code                    887379
application_type               887379
acc_now_delinq                 887350
tot_coll_amt                   817103
tot_cur_bal                    817103
total_rev_hi_lim               817103
annual_inc_val                 887375
dti_val                        887377
dtype: int64

In [67]:
loans_df.to_csv('/home/niteshch/Downloads/loan_cleaned_1.csv', header=True, index=False)

In [68]:
loans_df.columns.to_series().groupby(loans_df.dtypes).groups

{dtype('int64'): Index([u'id', u'member_id'], dtype='object'),
 dtype('float64'): Index([u'loan_amnt', u'funded_amnt', u'funded_amnt_inv', u'int_rate',
        u'installment', u'delinq_2yrs', u'inq_last_6mths',
        u'mths_since_last_delinq', u'mths_since_last_record', u'open_acc',
        u'pub_rec', u'revol_bal', u'revol_util', u'total_acc', u'out_prncp',
        u'out_prncp_inv', u'total_pymnt', u'total_pymnt_inv',
        u'total_rec_prncp', u'total_rec_int', u'total_rec_late_fee',
        u'recoveries', u'collection_recovery_fee', u'last_pymnt_amnt',
        u'collections_12_mths_ex_med', u'mths_since_last_major_derog',
        u'policy_code', u'acc_now_delinq', u'tot_coll_amt', u'tot_cur_bal',
        u'total_rev_hi_lim', u'annual_inc_val', u'dti_val'],
       dtype='object'),
 dtype('O'): Index([u'term', u'grade', u'sub_grade', u'emp_length', u'home_ownership',
        u'verification_status', u'issue_d', u'loan_status', u'pymnt_plan',
        u'purpose', u'addr_state', u'earliest_cr_line', u'initial_list_status',
        u'last_pymnt_d', u'next_pymnt_d', u'last_credit_pull_d',
        u'application_type'],
       dtype='object')}

In [71]:
loans_df['term_float'] = np.where(loans_df['term'] == ' 36 months', np.float64(36), np.float64(60))
loans_df[['term','term_float']]

              term  term_float
0        36 months        36.0
1        60 months        60.0
2        36 months        36.0
3        36 months        36.0
4        60 months        60.0
5        36 months        36.0
6        60 months        60.0
7        36 months        36.0
8        60 months        60.0
9        60 months        60.0
10       60 months        60.0
11       36 months        36.0
12       36 months        36.0
13       36 months        36.0
14       36 months        36.0
15       36 months        36.0
16       36 months        36.0
17       36 months        36.0
18       36 months        36.0
19       36 months        36.0
20       60 months        60.0
21       36 months        36.0
22       36 months        36.0
23       36 months        36.0
24       36 months        36.0
25       36 months        36.0
26       36 months        36.0
27       60 months        60.0
28       36 months        36.0
29       36 months        36.0
...            ...         ...
887349   36 months        36.0
887350   60 months        60.0
887351   36 months        36.0
887352   36 months        36.0
887353   60 months        60.0
887354   36 months        36.0
887355   36 months        36.0
887356   60 months        60.0
887357   60 months        60.0
887358   60 months        60.0
887359   60 months        60.0
887360   60 months        60.0
887361   36 months        36.0
887362   36 months        36.0
887363   36 months        36.0
887364   36 months        36.0
887365   36 months        36.0
887366   36 months        36.0
887367   36 months        36.0
887368   60 months        60.0
887369   36 months        36.0
887370   36 months        36.0
887371   36 months        36.0
887372   36 months        36.0
887373   36 months        36.0
887374   36 months        36.0
887375   36 months        36.0
887376   60 months        60.0
887377   60 months        60.0
887378   36 months        36.0

[887379 rows x 2 columns]

In [72]:
def transform_grade(row):
    if row['grade'] == 'A':
        return np.float64(1)
    elif row['grade'] =='B':
        return np.float64(2)
    elif row['grade'] =='C':
        return np.float64(3)
    elif row['grade'] =='D':
        return np.float64(4)
    elif row['grade'] =='E':
        return np.float64(5)
    elif row['grade'] =='F':
        return np.float64(6)
    elif row['grade'] =='G':
        return np.float64(7)

loans_df['grade_float'] = loans_df.apply(transform_grade, axis=1)
loans_df[['grade', 'grade_float']]

       grade  grade_float
0          B          2.0
1          C          3.0
2          C          3.0
3          C          3.0
4          B          2.0
5          A          1.0
6          C          3.0
7          E          5.0
8          F          6.0
9          B          2.0
10         C          3.0
11         B          2.0
12         C          3.0
13         B          2.0
14         B          2.0
15         D          4.0
16         C          3.0
17         A          1.0
18         B          2.0
19         A          1.0
20         C          3.0
21         B          2.0
22         B          2.0
23         B          2.0
24         B          2.0
25         B          2.0
26         C          3.0
27         D          4.0
28         B          2.0
29         B          2.0
...      ...          ...
887349     A          1.0
887350     C          3.0
887351     D          4.0
887352     B          2.0
887353     B          2.0
887354     D          4.0
887355     A          1.0
887356     D          4.0
887357     D          4.0
887358     D          4.0
887359     D          4.0
887360     B          2.0
887361     A          1.0
887362     A          1.0
887363     B          2.0
887364     A          1.0
887365     C          3.0
887366     D          4.0
887367     A          1.0
887368     C          3.0
887369     B          2.0
887370     B          2.0
887371     E          5.0
887372     B          2.0
887373     D          4.0
887374     B          2.0
887375     B          2.0
887376     D          4.0
887377     E          5.0
887378     B          2.0

[887379 rows x 2 columns]

In [75]:
loans_df['loan_status_float'] = np.float64(0)
loans_df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)

In [79]:
loans_df['loan_status_float'] = [np.float64(1) if x == 'Fully Paid' or x == 'Current' 
                                 else np.float64(0) for x in loans_df['loan_status']]

loans_df[['loan_status', 'loan_status_float']]

        loan_status  loan_status_float
0        Fully Paid                1.0
1       Charged Off                0.0
2        Fully Paid                1.0
3        Fully Paid                1.0
4           Current                1.0
5        Fully Paid                1.0
6           Current                1.0
7        Fully Paid                1.0
8       Charged Off                0.0
9       Charged Off                0.0
10       Fully Paid                1.0
11       Fully Paid                1.0
12      Charged Off                0.0
13       Fully Paid                1.0
14      Charged Off                0.0
15       Fully Paid                1.0
16       Fully Paid                1.0
17       Fully Paid                1.0
18       Fully Paid                1.0
19       Fully Paid                1.0
20       Fully Paid                1.0
21      Charged Off                0.0
22       Fully Paid                1.0
23       Fully Paid                1.0
24      Charged Off                0.0
25       Fully Paid                1.0
26      Charged Off                0.0
27      Charged Off                0.0
28       Fully Paid                1.0
29       Fully Paid                1.0
...             ...                ...
887349      Current                1.0
887350      Current                1.0
887351  Charged Off                0.0
887352      Current                1.0
887353      Current                1.0
887354      Current                1.0
887355      Current                1.0
887356      Current                1.0
887357      Current                1.0
887358      Current                1.0
887359      Current                1.0
887360      Current                1.0
887361      Current                1.0
887362      Current                1.0
887363      Current                1.0
887364   Fully Paid                1.0
887365      Current                1.0
887366   Fully Paid                1.0
887367      Current                1.0
887368      Current                1.0
887369   Fully Paid                1.0
887370      Current                1.0
887371  Charged Off                0.0
887372      Current                1.0
887373      Current                1.0
887374      Current                1.0
887375      Current                1.0
887376      Current                1.0
887377      Current                1.0
887378      Current                1.0

[887379 rows x 2 columns]

In [83]:
loans_df_new = loans_df[loans_df.loan_status != 'Does not meet the credit policy. Status:Fully Paid']
loans_df_new = loans_df_new[loans_df.loan_status != 'Does not meet the credit policy. Status:Charged Off']
loans_df_new = loans_df_new[loans_df.loan_status != 'Issued']
loans_df_new['loan_status'].unique()
loans_df_new[['loan_status', 'loan_status_float']]

/Users/niteshchauhan/anaconda/envs/iris/lib/python2.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/Users/niteshchauhan/anaconda/envs/iris/lib/python2.7/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

        loan_status  loan_status_float
0        Fully Paid                1.0
1       Charged Off                0.0
2        Fully Paid                1.0
3        Fully Paid                1.0
4           Current                1.0
5        Fully Paid                1.0
6           Current                1.0
7        Fully Paid                1.0
8       Charged Off                0.0
9       Charged Off                0.0
10       Fully Paid                1.0
11       Fully Paid                1.0
12      Charged Off                0.0
13       Fully Paid                1.0
14      Charged Off                0.0
15       Fully Paid                1.0
16       Fully Paid                1.0
17       Fully Paid                1.0
18       Fully Paid                1.0
19       Fully Paid                1.0
20       Fully Paid                1.0
21      Charged Off                0.0
22       Fully Paid                1.0
23       Fully Paid                1.0
24      Charged Off                0.0
25       Fully Paid                1.0
26      Charged Off                0.0
27      Charged Off                0.0
28       Fully Paid                1.0
29       Fully Paid                1.0
...             ...                ...
887349      Current                1.0
887350      Current                1.0
887351  Charged Off                0.0
887352      Current                1.0
887353      Current                1.0
887354      Current                1.0
887355      Current                1.0
887356      Current                1.0
887357      Current                1.0
887358      Current                1.0
887359      Current                1.0
887360      Current                1.0
887361      Current                1.0
887362      Current                1.0
887363      Current                1.0
887364   Fully Paid                1.0
887365      Current                1.0
887366   Fully Paid                1.0
887367      Current                1.0
887368      Current                1.0
887369   Fully Paid                1.0
887370      Current                1.0
887371  Charged Off                0.0
887372      Current                1.0
887373      Current                1.0
887374      Current                1.0
887375      Current                1.0
887376      Current                1.0
887377      Current                1.0
887378      Current                1.0

[876170 rows x 2 columns]

In [88]:
import time
def convert_date(row):
    return time.mktime(time.strptime(row['issue_d'], '%b-%Y'))

loans_df_new['issue_date_epoch'] = loans_df_new.apply(convert_date, axis=1)

In [89]:
loans_df_new['application_type_float'] = np.where(loans_df_new['application_type'] == 'INDIVIDUAL', 
                                                  np.float64(1), np.float64(2))

In [91]:
loans_df_new.drop(['term', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
        'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
        'purpose', 'addr_state', 'earliest_cr_line', 'initial_list_status',
        'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d',
        'application_type'], axis=1, inplace=True)

In [ ]:
loans_df_new.drop(['id', 'member_id'], axis=1, inplace=True)

In [97]:
loans_df_new.columns.to_series().groupby(loans_df.dtypes).groups

{dtype('float64'): Index([u'loan_amnt', u'funded_amnt', u'funded_amnt_inv', u'int_rate',
        u'installment', u'delinq_2yrs', u'inq_last_6mths',
        u'mths_since_last_delinq', u'mths_since_last_record', u'open_acc',
        u'pub_rec', u'revol_bal', u'revol_util', u'total_acc', u'out_prncp',
        u'out_prncp_inv', u'total_pymnt', u'total_pymnt_inv',
        u'total_rec_prncp', u'total_rec_int', u'total_rec_late_fee',
        u'recoveries', u'collection_recovery_fee', u'last_pymnt_amnt',
        u'collections_12_mths_ex_med', u'mths_since_last_major_derog',
        u'policy_code', u'acc_now_delinq', u'tot_coll_amt', u'tot_cur_bal',
        u'total_rev_hi_lim', u'annual_inc_val', u'dti_val', u'term_float',
        u'grade_float', u'loan_status_float'],
       dtype='object')}

In [98]:
loans_df_new.to_csv('/home/niteshch/Downloads/loan_cleaned_2.csv', header=True, index=False)